__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
.env

target/
dbt_packages/
logs/
.dbt/

airflow/logs/
airflow/*.log
airflow/*.pid
airflow/*.db
airflow/*.cfg

.DS_Store
*.log

.vscode/
.idea/dbt/my_dbt_project/airflow/dbt_profile/profiles.yml
dbt/my_dbt_project/airflow/dbt_profile/
